<head>
  <title>Co-App Shopping List</title>
  <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>

{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-8">
    <br>
    <h2>Shopping Requests</h2><br>
  </div>
</div>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="food-btn" autocomplete="off" checked> Food
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="equip-btn" autocomplete="off"> Equipment
  </label>
</div>

<div class="table-responsive">
    <table class="table" id="myTable">
        <thead class="table-light">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Type</th>
                <th scope="col">Qty</th>
                <th scope="col">Comments</th>
                <th scope="col">Alt Item</th>
                <th scope="col">For Shift?</th>
                <th scope="col">Ordered?</th>
                <th scope="col"> </th>
              </tr>
        </thead>
        <tbody id="tbody">
              {% for item in items: %}
                <tr>
                    <th scope="row">{{item.item_name}}</th>
                    <td>{{item.item_type}}</td>
                    <td>{{item.item_quantity}}</td>
                    <td>{{item.item_reason}}</td>
                    <td>{{item.alt_request}}</td>
                    <td>{{item.for_shift}}</td>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="order-check">
                        <label class="form-check-label" for="order-check">
                          {{item.item_ordered}}
                        </label>
                      </div>
                    </td>
                    <td>
                      <button type="button" class="btn btn-secondary btn-sm" id="rm-btn">Remove</button>
                      <!-- <button type="button" class="btn btn-light"><span class="bi bi-trash"></span></button> -->
                    </td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-12 text-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createItemModal">
          Add Item
        </button>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- header and close button -->
      <div class="modal-header">
        <h4>Make Your Request!</h4>  
        </p><button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span
            class="sr-only">close</span></button>
      </div>

      <div class="modal-body">
        {% include 'shoppingform.html' %}
      </div>

      <!-- submit button -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" id="add_submit">Submit Request</button>
      </div>
    </div>
  </div>
</div>

<script>

  // show food type option if applicable in modal
  $('#item_type').on('change', function () {
        console.log($('#item_type').val());
        if ($('#item_type').val() == "Food") {
          $('#food_type_visible').show();
        } else {
          $('#food_type_visible').hide();
        }
      });

  // add item to shopping list if submitted 
  $("#createItemModal").on( "click", "#add_submit", function() {
    $('#add_submit').unbind('click');

    console.log("hello");
    // display food type option if "food" chosen
   

    // extract input from modal
    let item_type = $('#item_type').val();
    let food_type = ""
    if ($('#food_type') != null) {
      food_type = $('#food_type').val();
    }
    let item_name = $('#item_name').val();
    let item_quantity = $('#item_quantity').val();
    let item_reason = $('#item_reason').val();
    let alt_request = $('#alt_request').val();
    if ($('#for_shift').is(':checked')) {
      var for_shift = true;
    }
    else {
      for_shift = false;
    }

    // AJAX update database
    var json_event = {
      "item_type":item_type,
      "item_name":item_name,
      "item_quantity":item_quantity,
      "item_ordered":false,
      "for_shift": for_shift,
      "item_reason": item_reason,
      "requesting_user": "dpw@cs.princeton.edu",
      "food_type": food_type,
      "alt_request": alt_request
    };

    console.log(json_event)

    // AJAX post request
    $.post( "/{{coop}}/list", {
      dataType: 'json',
      contentType: 'application/json',
      event_data: JSON.stringify(json_event),
      success: refreshList()
    });

    // Add new item to HTML table
    function refreshList() {
      item_ordered = 'False'; // UPDATE
      htmlString = '<tr>'
        + '<th scope="row">' + item_name + '</th>'
        + '<td>' + item_type + '</td>'
        + '<td>' + item_quantity + '</td>'
        + '<td>' + item_reason + '</td>'
        + '<td>' + alt_request + '</td>'
        + '<td>' + for_shift + '</td>'
        + `<td> <div class="form-check"> 
                <input class="form-check-input" type="checkbox" value="" id="order-check">
                <label class="form-check-label" for="order-check">`
                 + item_ordered + `</label></div></td>`
        + `<td> <button type="button" class="btn btn-secondary btn-sm" id="rm-btn">
                  Remove </button></td>`

      $('#myTable').append(htmlString);
    }

    $('#createItemModal').modal('hide');
  });

  // handle event when remove button clicked


</script>

{% endblock %}