    /* override bootsrap button color */
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
      background-color: #07a299 !important;
      border-color: #07a299 !important;
    }

    /* override font */
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    .display-1, .display-2, .display-3,
    .display-4, .display-5, .display-6 {
      font-family: "Noto Serif", sans-serif !important;
      font-weight: bold !important;
    }
    html, body, .tooltip, .popover {
      font-family: "Noto Sans", sans-serif !important;
    }
    code, kbd, pre, samp, .text-monospace {
      font-family: "Noto Mono", monospace !important;
    }
    button, input, optgroup, select, textarea {
      font-family: inherit !important;
    }
    

    /* override navbar styling */

    .navbar
    {
    background-color: #023226 !important;
    }

    .nav-link
    {
      color: #07a299 !important;
      font-weight: bold !important;
    }

    .navbar-brand
    {
      
      color: #07a299 !important;
      font-weight: bold !important;
    }

