    /* override bootsrap button color */
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
      background-color: #07a299 !important;
      border-color: #07a299 !important;
    }

    /* override font */
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    .display-1, .display-2, .display-3,
    .display-4, .display-5, .display-6 {
      font-family: "Noto Serif", sans-serif !important;
      font-weight: bold !important;
    }
    html, body, .tooltip, .popover {
      font-family: "Noto Sans", sans-serif !important;
    }
    code, kbd, pre, samp, .text-monospace {
      font-family: "Noto Mono", monospace !important;
    }
    button, input, optgroup, select, textarea {
      font-family: inherit !important;
    }
    

    /* override navbar styling */

    .navbar
    {
    background-color: #07a299 !important;
    }

    .nav-link
    {
      color: white!important;
      font-weight: bold !important;
    }

    .navbar-brand
    {
      
      color: white !important;
      font-weight: bold !important;
    }

    /* THINGS FOR AUTOCOMPLETE CALENDAR */

    .autocomplete {
      /*the container must be positioned relative:*/
      position: relative;
      display: inline-block;
      width: 100%
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9; 
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: #07a299 !important; 
      color: #ffffff; 
    }

