<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <title>Co-App User Profile</title>
    <!------------------------Bootstrap src for header ---------------------------->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!------------------------Co-App stylesheet---------------------------->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='coapp.css') }}" />

    <!-- Need to add fonts, iconns, favicon -->
</head>

<body style="background-color: #D3F2E9;">
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/{{coop}}/calendar">
            <img src="{{ url_for('static',filename='logo-final.png') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">
                {{coop_upper}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href='/{{coop}}/profile'>Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href='/{{coop}}/roster'>Roster</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href='/{{coop}}/calendar'>Calendar</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href='/{{coop}}/list'>Shopping List</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href='/{{coop}}/recipes'>Recipes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href='/{{coop}}/signin'>Sign-In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href='/logout'>Log Out</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <!-- PAGE CONTENT -->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <!-- FOOTER -->
</body>
  
<script>
'use strict';

function setup() {
    // $('.nav-item').on('click', function() {
    //   $('.nav-item.active').removeClass('active');
    //   $(this).addClass('active');
    // });

    $('ul.navbar-nav > li').click(function () {
    $('ul.navbar-nav > li').removeClass('active');
    $(this).addClass('active');
    })
}

$('document').ready(setup);
</script>

</html>