<head>
    <title>Co-App Edit Roster (Admin Only)</title>
    <!-- <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" -->
    <!-- integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" -->
    <!-- crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
</head>

{% extends "templates/base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <!-- <br> -->
            <!-- Back button to ROSTER page -->
            <!-- <div class="row">
                <div class="col-sm-11">
                <a href="/{{coop}}/roster" role="button" class="btn btn-primary float-start">
                        Back
                </a>
                </div>
            </div> -->

            <!-- Title Row - "Edit Roster" -->
            <div class="row">
                <div class="text-left">
                    <br>
                    <h2>Edit Roster</h2><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <div class="container border border-dark rounded" style="background-color: #07a29930;">
                        <div class="table-responsive" id="roster">
                            <!-- SERVER-SIDE GENERATES ROSTER OVERVIEW TABLE HERE -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Title Row - "Edit Roster" -->
            <div class="row">
                <div class="text-left">
                    <br>
                    <h3>Add New Members</h3>
                </div>
            </div>

            <div class="row">
                <div class="text-left">
                    <p>Type in NetIDs separated by commas. Anyone added will be able to log in via CAS.</p>
                </div>
            </div>

            <div class="col-sm-11">
            <div class="row">
                <div class="input-group w-75" id="add-members-group">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                        id="add-members-txt">
                </div>
                <button type="button" class="btn btn-primary float-end w-25" id="add-members-btn" style="color:black">
                    <img src="{{ url_for('static',filename='airplane.png') }}" width="40" />
                </button>
            </div>
            </div>

        </div>
    </div>
</div>

<script>
    'use strict';

    function deleteRow(r) {
        // show confirmation to delete in alert box        
        if (confirm("Are you sure you want to remove this member?") == true) {
            // var i = r.parentNode.parentNode.rowIndex;
            let user_netid = r.parentNode.parentNode.lastChild.innerHTML;
            let url = "/{{coop}}/roster/edit/delete?id=" + user_netid;
            // document.getElementById("myTable").deleteRow(i);
            // ajax post request by netid
            request = $.ajax(
                {
                    type: 'POST',
                    url: url,
                }
            ).done(function (data) {
                refreshRoster()
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("Error updating roster. Try again!")
            });
        }
    }


    function handleResponse(response) {
        $('#roster').html(response);
    }

    let request = null;

    // refresh page with get request 
    function refreshRoster() {
        console.log("fetching refreshed roster");
        request = $.ajax(
            {
                type: 'GET',
                url: '/{{coop}}/members/overview',
                success: handleResponse,
                failure: function () {
                    alert('there was an error while fetching members!');
                }
            }
        );
        console.log("made request")
    }

    function addMembers() {
        console.log("adding members")

        // TODO: error handling if input val is empty

        // parse string of new member netids separated by commas
        let newMembers = $('#add-members-txt').val()
        newMembers = newMembers.split(",").map((member) => member.trim());

        console.log(newMembers)

        // AJAX post request
        $.post("/{{coop}}/roster/edit/add", {
            dataType: 'json',
            contentType: 'application/json',
            event_data: JSON.stringify(newMembers),
        }).done(function (data) {
            // $('#add-members-group').html("Success!");
            refreshRoster();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert("Error adding members. Try again!")
        });
    }

    function addAdmin(r) {
        // show confirmation to delete in alert box        
        if (confirm("Are you sure you want to make this member an admin?") == true) {
            // var i = r.parentNode.parentNode.rowIndex;
            let user_netid = r.parentNode.parentNode.lastChild.innerHTML;
            let url = "/{{coop}}/roster/edit/makeadmin?id=" + user_netid;
            // document.getElementById("myTable").deleteRow(i);
            // ajax post request by netid
            request = $.ajax(
                {
                    type: 'POST',
                    url: url,
                }
            ).done(function (data) {
                refreshRoster()
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert("Error updating admin status. Try again!")
            });
        }
    }

    function setup() {
        refreshRoster();

        $('#add-members-btn').on('click', addMembers);
    }

    $('document').ready(setup);

</script>

{% endblock %}