<head>
  <title>Co-App Shopping List</title>
  
  <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
  <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
  <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
  <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='coapp.css') }}" />
</head>

{% extends "templates/base.html" %}
{% block content %}
<div class="container-fluid">
  <!-- Title Row - "Shopping List" -->
  <div class="row">
    <div class="col-sm-4 text-center">
      <br>
      <h2>Shopping Requests</h2><br>
    </div>
  </div>

  <!-- Toggle Button Row -->
  <div class="row">
    <div class="col-sm-3 text-center">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="food-btn" autocomplete="off" checked> Food
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="equip-btn" autocomplete="off"> Equipment
        </label>
      </div>
    </div> 
  </div>

  <br>

  <div class="row justify-content-md-center">
    <div class="col">
      <div class="container border border-dark rounded" style="background-color: #07a29930;">
        <div class="table-responsive" id="shoppingList">
          <!-- SERVER-SIDE GENERATES SHOPPING LIST HERE -->
        </div>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <br>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 text-right">
          <!-- Add Button to trigger modal -->
          <button type="button" class="btn btn-primary" id="add-item-btn" data-bs-toggle="modal" data-bs-target="#createItemModal">
            Add Item
          </button>
        </div>
    </div>
  </div>

</div>


<!-- Modal --> 
<!-- #createItemModal -->
<div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- header and close button -->
      <div class="modal-header">
        <h4>Make Your Request!</h4>  
        </p><button type="button" class="close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span> <span
            class="sr-only">close</span></button>
      </div>

      <!-- SHOPPING LIST FORM -->
      <div class="modal-body"> 

        <div class="form-group">
            <label for="item_type">Item Type:</label>
            <select class="form-select" id="item_type" aria-label="Select item type">
                <option value="0" selected>Choose...</option>
                <option value="Food">Food</option>
                <option value="Equipment">Equipment</option>
            </select>
        </div>
        
        <!-- Only if food, show food type option -->
        <!-- <div class="form-group" id="food_type_visible" style="display: none">
            <label for="foodtype">Food Type:</label>
            <input type="text" class="form-control" id="food_type">
        </div> -->
        <div class="form-group" id="food_type_visible" style="display: none">
            <label for="foodtype">Food Type:</label>
            <select class="form-select" id="food_type" aria-label="Select food type">
                <option value="0" selected>Choose...</option>
                <option value="Produce">Fresh Produce</option>
                <option value="Meat">Meat</option>
                <option value="Seasoning">Seasoning/Spice</option>
                <option value="Dry">Dry Good</option>
                <option value="Canned">Canned Good</option>
                <option value="Frozen">Frozen</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="item">Requested Item:</label>
            <input type="text" class="form-control" id="item_name" autocapitalize="words">
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="item_quantity" autocapitalize="words">
        </div>
        <div class="form-group">
            <label for="comments">Reason</label>
            <input type="text" class="form-control" id="item_reason" autocapitalize="sentences">
        </div>
        <div class="form-group">
            <label for="alt_item">Alternate Request</label>
            <input type="text" class="form-control" id="alt_request" autocapitalize="sentences">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="for_shift" name="for_shift">
            <label class="form-check-label" for="for_shift">For Shift?</label>
        </div>

      </div>

      <!-- submit button -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_submit">Submit Request</button>
      </div>
    </div>
  </div>
</div>

<script>
  'use strict';

  function handleResponse(response) 
  {
    $('#shoppingList').html(response);
  }

  let request = null;

  // refresh page with another get request 
  function refreshList(item_type) {
    console.log("fetching refreshed list");

    // if (item_type == "Food") {
    //   console.log("Getting Food")
    //   request = $.ajax(
    //     {
    //         type:'GET',
    //         url: '/{{coop}}/items/food',
    //         success: handleResponse,
    //         failure: function () {
    //           alert('there was an error while fetching items!');
    //         }
    //     }
    //   );
    // }

    if (item_type == "Equipment") {
      console.log("Getting Equip")
      request = $.ajax(
        {
            type:'GET',
            url: '/{{coop}}/items/equipment',
            success: handleResponse,
            failure: function () {
              alert('there was an error while fetching items!');
            }
        }
      );
    }

    else {
       request = $.ajax(
          {
            type:'GET',
            url: '/{{coop}}/items/food',
            success: handleResponse,
            failure: function () {
              alert('there was an error while fetching items!');
            }
        }
    );

    }

   
    console.log("made request")
  }

  // show all items whose item type is food
  function toggleFood() 
  {
    refreshList("Food")
    // request = $.ajax(
    //     {
    //         type:'GET',
    //         url: '/{{coop}}/items/food',
    //         // success: handleResponse,
    //         // failure: function () {
    //         //   alert('there was an error while fetching items!');
    //         // }
    //     }).done(function () 
    // { 
    //   handleResponse
    // }).fail(function () { 
    //   alert("there was an error while fetching items!")
    // });;
  }

  // show all items whose item type is equipment
  function toggleEquipment()
  {
    refreshList("Equipment")
    // console.log("trying to get equipment!")
    // request = $.ajax(
    //     {
    //         type:'GET',
    //         url: '/{{coop}}/items/equipment',
            
    //         // success: handleResponse,
    //         // failure: function () {
    //         //   alert('there was an error while fetching items!');
    //         // }
    //     }).done(function () 
    // { 
    //   handleResponse
    // }).fail(function () { 
    //   alert("there was an error while fetching items!")
    // });;

  }

  // show food type option if applicable in modal
  function showFoodType() 
  {
    console.log($('#item_type').val());
    if ($('#item_type').val() == "Food") {
      $('#food_type_visible').show();
    } else {
      $('#food_type_visible').hide();
    }
  }
  
  // add item to shopping list if submitted 
  function addItem() 
  {
    $('#add_submit').unbind('click');
    $('#add-item-btn').unbind('click');

    console.log("hello");

    // extract input from modal
    let item_type = $('#item_type').val();
    let food_type = ""
    if ($('#food_type') != null) {
      food_type = $('#food_type').val();
    }
    let item_name = $('#item_name').val();
    let item_quantity = $('#item_quantity').val();
    let item_reason = $('#item_reason').val();
    let alt_request = $('#alt_request').val();
    if ($('#for_shift').is(':checked')) {
      var for_shift = true;
    }
    else {
      for_shift = false;
    }

    // AJAX update database
    var json_event = {
      "item_type":item_type,
      "item_name":item_name,
      "item_quantity":item_quantity,
      "item_ordered":false,
      "for_shift": for_shift,
      "item_reason": item_reason,
      "requesting_user": "{{user.user_netid}}",
      "food_type": food_type,
      "alt_request": alt_request
    };

    console.log(json_event)

    // AJAX post request
    $.post( "/{{coop}}/list", {
      dataType: 'json',
      contentType: 'application/json',
      event_data: JSON.stringify(json_event),
      // success: refreshList
    }).done(function (data) 
    { 
      if (item_type=="Equipment") {
        refreshList("Equipment")
      }
      else {
        refreshList("Food")
      }
    }).fail(function (jqXHR, textStatus, errorThrown) { 
      alert("Error updating shopping list. Try again!")
    });

    // refreshList()

    // hide modal
    $('#createItemModal').modal('hide');

    // reset all fields in modal
    $('#item_type').val(0);
    $('#food_type').val(0);
    $('#food_type_visible').hide();
    $('#item_name').val('');
    $('#item_quantity').val('');
    $('#item_reason').val('');
    $('#alt_request').val('');
    // FOR SHIFT CHECKBOX - make sure it's unchecked
    $('#for_shift').prop("checked", false );

    
  }

  // handle event when remove button clicked
  function removeItem(i) {
    let item_id = i.parentNode.parentNode.lastChild.innerHTML;

    let url = "/{{coop}}/list/delete?id=" + item_id;

    request = $.ajax(
      {
        type: 'POST',
        url: url, 
      }
    ).done(function (data) 
    { 
      // if (item_type=="Equipment") {
      //   refreshList("Equipment")
      // }
      // else {
      //   refreshList("Food")
      // }
      refreshList("");
    }).fail(function (jqXHR, textStatus, errorThrown) { 
      alert("Error updating shopping list. Try again!")
    });
    // refresh list from deleting from db

  }

  // TODO: when ordered checkbox clicked, update in database, change words to "true"
  function updateOrdered(i) {
    let item_id = i.parentNode.parentNode.parentNode.lastChild.innerHTML;
    let url = "/{{coop}}/list/order?id=" + item_id;
    request = $.ajax(
      {
        type: 'POST',
        url: url, 
      }
    ).done(function (data) 
    { 
      refreshList("");
    }).fail(function (jqXHR, textStatus, errorThrown) { 
      alert("Error updating shopping list. Try again!")
    });
  }

  function setup() 
  {
    refreshList("");
    
    // LIST event handling
    $("#food-btn").on("click", toggleFood)
    $("#equip-btn").on("click", toggleEquipment)
    $('#rm-btn').on('click', removeItem);
    
    // MODAL event handling
    $('#item_type').on('change', showFoodType)
    $("#createItemModal").on( "click", "#add_submit", addItem);
  }

  $('document').ready(setup);

</script>

{% endblock %}