<head>
  <title>Co-App Shopping List</title>
</head>

{% extends "templates/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-11">
      <!-- Title -->
      <div class="row">
        <div class="text-left">
          <br>
          <h2>Shopping List</h2><br>
        </div>
      </div>

      <!-- Toggle Buttons (Food/Equipment) -->
      <div class="row">
        <div class="col-sm-9 float-start">
          <div class="btn-group">
            <label class="btn btn-secondary active" id="food-toggle">
              <input type="radio" class="btn-check" name="options" id="food-btn" autocomplete="off"> Food
            </label>
            <label class="btn btn-secondary" id="equip-toggle">
              <input type="radio" class="btn-check" name="options" id="equip-btn" autocomplete="off"> Equipment
            </label>
          </div>
        </div>
      <!-- Toggle Buttons (Last Week vs This Week) -->
        <div class="col-sm-3 float-end">
          <div class="btn-group">
            <label class="btn btn-secondary" id="last-week-toggle">
              <input type="radio" class="btn-check" name="options" id="last-week" autocomplete="off"> Last Week
            </label>
            <label class="btn btn-secondary active" id="this-week-toggle">
              <input type="radio" class="btn-check" name="options" id="this-week" autocomplete="off"> This Week
            </label>
          </div>
        </div>
      </div>

      <br>

      <!-- Shopping List Table -->
      <div class="row">
        <div class="col-sm-11">
          <div class="container border border-dark rounded" style="background-color: #07a29930;">
            <div class="table-responsive" id="shoppingList">
              <!-- SERVER-SIDE GENERATES SHOPPING LIST HERE -->
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Request Item Button (triggers modal) -->
      <div class="row">
        <div class="col-sm-11">
          <button type="button" class="btn btn-primary float-end" id="add-item-btn" data-bs-toggle="modal"
            data-bs-target="#createItemModal">
            Request Item
          </button>
        </div>
      </div>

    </div> <!-- col-sm-11 -->
  </div> <!-- row -->
</div> <!-- container-fluid -->


<!-- Modal -->
<!-- #createItemModal -->
<div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- header and close button -->
      <div class="modal-header">
        <h4>Request an Item!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- SHOPPING LIST FORM -->
      <div class="modal-body">

        <div class="form-group">
          <label for="item_type">Item Type:</label>
          <select class="form-select" id="item_type" aria-label="Select item type">
            <option value="0" selected>Choose...</option>
            <option value="Food">Food</option>
            <option value="Equipment">Equipment</option>
          </select>
        </div>
        <!-- Only if food, show food type option -->
        <div class="form-group" id="food_type_visible" style="display: none">
          <label for="foodtype">Food Type:</label>
          <select class="form-select" id="food_type" aria-label="Select food type">
            <option value="0" selected>Choose...</option>
            <option value="Produce">Fresh Produce</option>
            <option value="Meat">Meat</option>
            <option value="Seasoning">Seasoning/Spice</option>
            <option value="Dry">Dry Good</option>
            <option value="Canned">Canned Good</option>
            <option value="Frozen">Frozen</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="item">Requested Item:</label>
          <input type="text" class="form-control" id="item_name" autocapitalize="words">
        </div>
        <br>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control" id="item_quantity" autocapitalize="words">
        </div>
        <br>
        <div class="form-group">
          <label for="comments">Reason</label>
          <input type="text" class="form-control" id="item_reason" autocapitalize="sentences">
        </div>
        <br>
        <div class="form-group">
          <label for="alt_item">Alternate Request</label>
          <input type="text" class="form-control" id="alt_request" autocapitalize="sentences">
        </div>
        <br>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="for_shift" name="for_shift">
          <label class="form-check-label" for="for_shift">For Shift?</label>
        </div>

      </div>

      <!-- submit button -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="add_submit">Submit Request</button>
      </div>
    </div>
  </div>
</div>

<script>
  'use strict';

  function handleResponse(response) {
    $('#shoppingList').html(response);
  }

  let request = null;

  // refresh page with another get request 
  function refreshList(item_type) {
    // console.log("fetching refreshed list");
    var curr = new Date; // get date for week
    var start = getDate()
    var end = start + 6;
    var startDate = new Date(curr.setDate(start)).toISOString().substring(0, 10);
    var endDate = new Date(curr.setDate(end)).toISOString().substring(0, 10);


    if (item_type == "Equipment") {
      console.log("Getting Equip")
      request = $.ajax(
        {
          type: 'GET',
          url: '/{{coop}}/items/equipment?startDate=' + startDate + '&endDate=' + endDate,
          success: handleResponse,
          failure: function () {
            alert('there was an error while fetching items!');
          }
        }
      );
    }

    else { // "Food" (default state)
      request = $.ajax(
        {
          type: 'GET',
          url: '/{{coop}}/items/food?startDate=' + startDate + '&endDate=' + endDate,
          success: handleResponse,
          failure: function () {
            alert('there was an error while fetching items!');
          }
        }
      );

    }
    // console.log("made request")
  }

  // show all items whose item type is food
  function toggleFood() {
    if ($('#equip-toggle').hasClass('active')) {
      $('#equip-toggle').removeClass('active');
      $('#food-toggle').addClass('active');
    }
    refreshList("Food");
  }

  function getDate() {
    var curr = new Date; // get current date
    if ($('#last-week-toggle').hasClass('active')) {
      var first = curr.getDate() - curr.getDay() - 7; // First day is the day of the month - the day of the week
    } else {
      var first = curr.getDate() - curr.getDay(); // First day is the day of the month - the day of the week
    }
    return first;
  }

  function toggleCurr() {
    if ($('#last-week-toggle').hasClass('active')) {
      $('#last-week-toggle').removeClass('active');
      $('#this-week-toggle').addClass('active');
    }

    if ($('#equip-toggle').hasClass('active')) {
      refreshList("Equipment");
    } else {
      refreshList("Food")
    }
  }

  function toggleLast() {
    if ($('#this-week-toggle').hasClass('active')) {
      $('#this-week-toggle').removeClass('active');
      $('#last-week-toggle').addClass('active');
    }

    if ($('#equip-toggle').hasClass('active')) {
      refreshList("Equipment");
    } else {
      refreshList("Food")
    }
  }

  // show all items whose item type is equipment
  function toggleEquipment() {
    if ($('#food-toggle').hasClass('active')) {
      $('#food-toggle').removeClass('active');
      $('#equip-toggle').addClass('active');
    }
    refreshList("Equipment");
  }

  // show food type option if applicable in modal
  function showFoodType() {
    console.log($('#item_type').val());
    if ($('#item_type').val() == "Food") {
      $('#food_type_visible').show();
    } else {
      $('#food_type_visible').hide();
    }
  }

  // add item to shopping list if submitted 
  function addItem() {
    $('#add_submit').unbind('click');
    $('#add-item-btn').unbind('click');

    console.log("hello");

    // extract input from modal
    let item_type = $('#item_type').val();
    let food_type = ""
    if ($('#food_type') != null) {
      food_type = $('#food_type').val();
    }
    let item_name = $('#item_name').val();
    item_name = item_name.charAt(0).toUpperCase() + item_name.slice(1);
    let item_quantity = $('#item_quantity').val();
    item_quantity = item_quantity.charAt(0).toUpperCase() + item_quantity.slice(1);
    let item_reason = $('#item_reason').val();
    item_reason = item_reason.charAt(0).toUpperCase() + item_reason.slice(1);
    let alt_request = $('#alt_request').val();
    alt_request = alt_request.charAt(0).toUpperCase() + alt_request.slice(1);
    if ($('#for_shift').is(':checked')) {
      var for_shift = true;
    }
    else {
      for_shift = false;
    }

    // AJAX update database
    var json_event = {
      "item_type": item_type,
      "item_name": item_name,
      "item_quantity": item_quantity,
      "item_ordered": false,
      "for_shift": for_shift,
      "item_reason": item_reason,
      "requesting_user": "{{user.user_netid}}",
      "food_type": food_type,
      "alt_request": alt_request
    };

    console.log(json_event)

    // AJAX post request
    $.post("/{{coop}}/list", {
      dataType: 'json',
      contentType: 'application/json',
      event_data: JSON.stringify(json_event),
    }).done(function (data) {
      if ($('#equip-toggle').hasClass('active')) {
        refreshList("Equipment");
      }
      else {
        refreshList("");
      }
    }).fail(function (jqXHR, textStatus, errorThrown) {
      alert("Error updating shopping list. Try again!")
    });


    // hide modal
    $('#createItemModal').modal('hide');

    // reset all fields in modal
    $('#item_type').val(0);
    $('#food_type').val(0);
    $('#food_type_visible').hide();
    $('#item_name').val('');
    $('#item_quantity').val('');
    $('#item_reason').val('');
    $('#alt_request').val('');
    // FOR SHIFT CHECKBOX - make sure it's unchecked
    $('#for_shift').prop("checked", false);


  }

  // handle event when Remove button clicked
  function removeItem(i) {
    let item_id = i.parentNode.parentNode.lastChild.innerHTML;

    let url = "/{{coop}}/list/delete?id=" + item_id;

    if (confirm("Are you sure you want to remove this item?") == true) {
      request = $.ajax(
        {
          type: 'POST',
          url: url,
        }
      ).done(function (data) {
        if ($('#equip-toggle').hasClass('active')) {
          refreshList("Equipment");
        }
        else {
          refreshList("");
        }
      }).fail(function (jqXHR, textStatus, errorThrown) {
        alert("Error updating shopping list. Try again!")
      });
      // refresh list from deleting from db
    }

  }

  // TODO: when ordered checkbox clicked, update in database, change words to "true"
  function updateOrdered(i) {
    let item_id = i.parentNode.parentNode.parentNode.lastChild.innerHTML;
    let url = "/{{coop}}/list/order?id=" + item_id;
    request = $.ajax(
      {
        type: 'POST',
        url: url,
      }
    ).done(function (data) {
      if ($('#equip-toggle').hasClass('active')) {
        refreshList("Equipment");
      }
      else {
        refreshList("");
      }
    }).fail(function (jqXHR, textStatus, errorThrown) {
      alert("Error updating shopping list. Try again!")
    });
  }

  function changeUpvote(i) {
    console.log("Reached")
    let item_id = i.parentNode.parentNode.lastChild.innerHTML;
    let url = "/{{coop}}/list/upvote?id=" + item_id;
    request = $.ajax(
      {
        type: 'POST',
        url: url,
      }
    ).done(function (data) {
      if ($('#equip-toggle').hasClass('active')) {
        refreshList("Equipment");
      }
      else {
        refreshList("");
      }
    }).fail(function (jqXHR, textStatus, errorThrown) {
      alert("Error updating shopping list. Try again!")
    });
  }

  function setup() {
    refreshList("");

    // LIST event handling
    $("#food-btn").on("click", toggleFood)
    $("#equip-btn").on("click", toggleEquipment)
    $('#rm-btn').on('click', removeItem);
    $("#this-week").on("click", toggleCurr)
    $("#last-week").on("click", toggleLast)

    // MODAL event handling
    $('#item_type').on('change', showFoodType)
    $("#createItemModal").on("click", "#add_submit", addItem);
  }

  $('document').ready(setup);

</script>

{% endblock %}