<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='coapp.css') }}" /> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/{{coop}}/calendar">
      <img src="{{ url_for('static',filename='logo-final.png') }}" alt="" width="24" height="24" class="d-inline-block align-text-top">
          {{coop_upper}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href='/{{coop}}/profile'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/{{coop}}/roster'>Roster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/{{coop}}/calendar'>Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/{{coop}}/list'>Shopping List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/{{coop}}/recipes'>Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/{{coop}}/signin'>Sign-In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/logout'>Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  'use strict';

  function setup() {
    // $('.nav-item').on('click', function() {
    //   $('.nav-item.active').removeClass('active');
    //   $(this).addClass('active');
    // });

    $('ul.navbar-nav > li').click(function () {
      $('ul.navbar-nav > li').removeClass('active');
      $(this).addClass('active');
    })
  }

  $('document').ready(setup);
</script> -->