<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Co-App User Profile</title>
    <!------------------------Bootstrap src for header ---------------------------->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='coapp.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
</head>
<script>
    'use strict'
    let request = null
    function makeEditable() {
        $('#save_profile').removeClass('d-none');
        $('#cancel_save').removeClass('d-none');
        $("input[name='cook_days']").prop("disabled", false);
        $("input[name='chore_days']").prop("disabled", false);
        $("#profile_name").prop("disabled", false);
        $("#profile_allergies").prop("disabled", false);
        // $('#update_profile').unbind('click');
    }
    function cancelEdit() {
        $('#save_profile').addClass('d-none');
        $('#cancel_save').addClass('d-none');
        $("input[name='cook_days']").prop("disabled", true);
        $("input[name='chore_days']").prop("disabled", true);
        $("#profile_name").prop("disabled", true);
        $("#profile_allergies").prop("disabled", true);
        location.reload()
    }
    function updateProfile() {
        $('#save_profile').addClass('d-none');
        $('#cancel_save').addClass('d-none');

        $("input[name='cook_days']").prop("disabled", true);
        $("input[name='chore_days']").prop("disabled", true);

        $("#profile_name").prop("disabled", true);
        $("#profile_allergies").prop("disabled", true);

        // extract input
        let profile_name = $('#profile_name').val();
        let profile_allergies = $('#profile_allergies').val();
        let cook_days = [];
        $.each($("input[name='cook_days']:checked"), function () {
            cook_days.push($(this).val());
        });
        let chore_days = [];
        $.each($("input[name='chore_days']:checked"), function () {
            chore_days.push($(this).val());
        });
        var json_event = {
            "user_name": profile_name,
            "user_allergies": profile_allergies,
            "user_cookday": cook_days,
            "user_choreday": chore_days
        };
        if (request != null)
            request.abort();
        // SOME kind of post to update profile information
        request = $.post("/{{coop}}/profile/update", {
            dataType: 'json',
            contentType: 'application/json',
            event_data: JSON.stringify(json_event)
        }).done(function (data) {
            $('#name').html(JSON.parse(data))
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert("Error updating profile. Try again!")
        });;
    }
    function deleteProfile() {
        // show confirmation to delete in alert box        
        if (confirm("Are you sure you want to delete your account?") == true) {
            // ajax post request by netid
            $.post("/{{coop}}/roster/delete?id=" + "{{user.user_netid}}", {}).done(function () {
                // redirect to homepage after deletion
                location.href = '/';
                redirect();
            })
        } 
    }
    function setup() {
        // fill in info from database
        $('#name').html("{{user.user_name}}");
        $('#profile_name').val("{{user.user_name}}");
        $('#profile_allergies').val("{{user.user_allergies}}");
        if ("{{user.user_admin}}" === "False") {
            $('#member_status').html('Status: Member');
        } else {
            $('#member_status').html('Status: Admin');
        }
        // check correct days 
        let cook_string = "{{user.user_cookday}}";
        const cook_days = cook_string.split(" ");
        $("input[name='cook_days']").each(function () {
            if (cook_days.includes($(this).val())) {
                $(this).prop('checked', true);
            }
        });
        let chore_string = "{{user.user_choreday}}";
        const chore_days = chore_string.split(" ");
        $("input[name='chore_days']").each(function () {
            if (chore_days.includes($(this).val())) {
                $(this).prop('checked', true);
            }
        });
        $("input[name='cook_days']").prop("disabled", true)
        $("input[name='chore_days']").prop("disabled", true)
        // make fields editable when update profile checked
        $('#update_profile').on('click', makeEditable);
        // do nothing when profile edit canceled
        $('#cancel_save').on('click', cancelEdit);
        // Send post to db when clicking save profile
        $('#save_profile').on('click', updateProfile);
        // Don't refresh page on submit of form so it doesn't GET before POST
        $("#profile-form").submit(function (e) {
            e.preventDefault();
        });
        // delete profile when clicked (show alert first)
        $('#delete_profile').on('click', deleteProfile);
    }
    $('document').ready(setup);
</script>
<!------------------------------HTML BODY------------------------------------->
<body style="background-color: #D3F2E9;">
    {% include 'templates/navbar.html' %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <!-- left side -->
            <div class="col-sm-3">
                <div class="row">
                    <h3 id="name" class="text-center">
                        </h2>
                        <p class="text-center">Co-Op: {{coop_upper}}</p>
                        <p class="text-center" id="member_status"></p>
                </div>
                <div class="w-100 p-3">
                    <div class="row">
                        <button type="button" id="update_profile" class="btn btn-primary">Edit
                            Profile Info</button>
                    </div>
                    <br>
                    <div class="row">
                        <a href="/logout" type="button" class="btn btn-primary" role="button">Log
                            Out</a>
                    </div>
                    <br>
                    <div class="row">
                        <button type="button" id="delete_profile" class="btn btn-primary">Delete Account</button>
                    </div>
                </div>
            </div>
            <!-- right side -->
            <div class="col-sm-9">
                <div class="container border border-dark rounded" style="background-color: #07a29930;">
                    <br>
                    <form id="profile-form">
                        <div class="form-group">
                            <h4><label for="profile_name">Name</label></h4>
                            <input type="text" class="form-control" id="profile_name" aria-describedby="Name" disabled>
                        </div>
                        <br>
                        <div class="form-group">
                            <h4><label for="profile_allergies">Allergies/Dietary Restrictions</label></h4>
                            <input type="text" class="form-control" id="profile_allergies" placeholder="N/A" disabled>
                        </div>
                        <br>
                        <h4><label for="cook_day">Cook Shift</label></h4>
                        <div class="form-cook" id="cook_day">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="M" class="form-cook-input"
                                            id="monday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="monday">M</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="T" class="form-cook-input"
                                            id="tuesday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="tuesday">T</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="W" class="form-cook-input"
                                            id="wednesday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="wednesday">W</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="Th" class="form-cook-input"
                                            id="thursday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="thursday">Th</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="F" class="form-cook-input"
                                            id="friday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="friday">F</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="Sat" class="form-cook-input"
                                            id="saturday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="saturday">Sat</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="cook_days" type="checkbox" value="Sun" class="form-cook-input"
                                            id="sunday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='cutlery.png') }}">
                                            <label class="form-cook-label" for="sunday">Sun</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <h4><label for="chore_day">Chore Shift</label></h4>
                        <div class="form-chore" id="chore_day">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="M" class="form-chore-input"
                                            id="monday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="monday">M</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="T" class="form-chore-input"
                                            id="tuesday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="tuesday">T</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="W" class="form-chore-input"
                                            id="wednesday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="wednesday">W</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="Th" class="form-chore-input"
                                            id="thursday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="thursday">Th</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="F" class="form-chore-input"
                                            id="friday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="friday">F</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="Sat" class="form-chore-input"
                                            id="saturday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="saturday">Sat</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="pretty p-image p-plain p-bigger p-tada">
                                        <input name="chore_days" type="checkbox" value="Sun" class="form-chore-input"
                                            id="sunday">
                                        <div class="state">
                                            <img class="image" src="{{ url_for('static',filename='broom.png') }}">
                                            <label class="form-chore-label" for="sunday">Sun</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" id="save_profile" class="btn btn-primary d-none">Save Profile</button>
                        <button type="submit" id="cancel_save" class="btn btn-primary d-none">Cancel Changes</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
