<head>
  <title>Co-App Recipes</title>
</head>

{% extends "templates/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-11">
      <!-- Title Row - "Shopping List" -->
      <div class="row text-left">
        <div class="text-left">
          <br>
          <h2>Recipes</h2><br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11 text-center">
          <!-- Carousel wrapper -->
          <div id="recipeCarousel" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
            <!-- Inner -->
            <div class="carousel-inner py-4">
              <!-- Single item -->
              <div class="carousel-item active">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='no_image.png') }}" class="card-img-top"
                          alt="No image available" />
                        <div class="card-body">
                          <h5 class="card-title">Fish tacos</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='cookie_pizza.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                          <h5 class="card-title">COOKIE PIZZA</h5>
                          <p class="card-text"><a href="https://sallysbakingaddiction.com/chocolate-chip-cookie-pizza/">Link to Recipe</a></p>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='pad thai.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                          <h5 class="card-title">the best pad thai you will ever have</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Single item -->
              <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <div class="card">
                        <img src="{{ url_for('static',filename='no_image.png') }}" class="card-img-top"
                          alt="No image available" />
                        <div class="card-body">
                          <h5 class="card-title">Pork dumplings</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='no_image.png') }}" class="card-img-top"
                          alt="No image available" />
                        <div class="card-body">
                          <h5 class="card-title">French toast</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Controls -->
            <div class="d-flex justify-content-center mb-4">
              <button class="carousel-control-prev position-relative" type="button" data-bs-target="#recipeCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next position-relative" type="button" data-bs-target="#recipeCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- Inner -->
          </div>
          <!-- Carousel wrapper -->
        </div>
      </div>

      <!-- Add Recipe Button -->
      <div class="row">
        <div class="col-sm-11">
          <!-- Add Button to trigger modal -->
          <button type="button" class="btn btn-primary float-end" id="add-rec-btn" data-bs-toggle="modal"
            data-bs-target="#createRecipeModal">
            Add Recipe
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<!-- #createRecipeModal -->
<div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- header and close button -->
      <div class="modal-header">
        <h4>Add Your Recipe!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- RECIPE FORM -->
      <div class="modal-body">

        <div class="form-group">
          <label for="item">Link:</label>
          <input type="text" class="form-control" id="item_name" autocapitalize="words">
        </div>
        <div class="form-group">
          <label for="quantity">Ingredients:</label>
          <input type="text" class="form-control" id="item_quantity" autocapitalize="words">
        </div>
        <div class="form-group">
          <label for="comments">Instructions:</label>
          <input type="text" class="form-control" id="item_reason" autocapitalize="sentences">
        </div>

      </div>

      <!-- submit button -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="rec_submit">Submit Recipe</button>
      </div>
    </div>
  </div>
</div>

<!-- <script>
    'use strict';

    $('document').ready(setup);

</script> -->

{% endblock %}