<head>
  <title>Co-App Recipes</title>
</head>

{% extends "templates/base.html" %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-11">
      <!-- Title -->
      <div class="row text-left">
        <div class="text-left">
          <br>
          <h2>Recipes</h2><br>
        </div>
      </div>

      <!-- Recipe Gallery Carousel -->
      <div class="row">
        <div iclass="col-sm-11 text-center">
          <!-- Carousel wrapper -->
          <div id="recipeCarousel" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
            <!-- SERVER-SIDE GENERATES RECIPE GALLERY HERE -->

            <!-- Inner -->
            <div class="carousel-inner py-4">
              <!-- Single item -->
              <div class="carousel-item active">
                <div class="container">
                  <div class="row">

                    <div class="col-lg-4 d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='no_image.png') }}" class="card-img-top"
                          alt="No image available" />
                        <div class="card-body">
                          <h5 class="card-title">Fish tacos</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='cookie_pizza.jpg') }}" class="card-img-top" />
                        <div class="card-body">
                          <h5 class="card-title">COOKIE PIZZA</h5>
                          <p class="card-text"><a
                              href="https://sallysbakingaddiction.com/chocolate-chip-cookie-pizza/">Link to Recipe</a>
                          </p>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- Single item -->
              <!-- <div class="carousel-item">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 col-md-12">
                      <div class="card">
                        <img src="{{ url_for('static',filename='no_image.png') }}" class="card-img-top"
                          alt="No image available" />
                        <div class="card-body">
                          <h5 class="card-title">Pork dumplings</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='no_image.png') }}" class="card-img-top"
                          alt="No image available" />
                        <div class="card-body">
                          <h5 class="card-title">French toast</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 d-lg-block">
                      <div class="card">
                        <img src="{{ url_for('static',filename='pad thai.jpg') }}" class="card-img-top"/>
                        <div class="card-body">
                          <h5 class="card-title">the best pad thai you will ever have</h5>
                          <a href="#!" class="btn btn-primary">Instructions</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->

            </div> <!-- Inner -->

            <!-- Controls -->
            <!-- <div class="d-flex justify-content-center mb-4">
              <button class="carousel-control-prev position-relative" type="button" data-bs-target="#recipeCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next position-relative" type="button" data-bs-target="#recipeCarousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> -->

          </div>
          <!-- Carousel wrapper -->
        </div>
      </div>

      <!-- Add Recipe Button (triggers modal) -->
      <div class="row">
        <div class="col-sm-11">
          <button type="button" class="btn btn-primary float-end" id="add-rec-btn" data-bs-toggle="modal"
            data-bs-target="#createRecipeModal">
            Add Recipe
          </button>
        </div>
      </div>

    </div> <!-- col-sm-11 -->
  </div> <!-- row -->
</div> <!-- container-fluid -->

<!-- Modal -->
<!-- #createRecipeModal -->
<div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- header and close button -->
      <div class="modal-header">
        <h4>Add Your Recipe!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- RECIPE FORM -->
      <div class="modal-body">

        <div class="form-group">
          <label for="recipe_name">Name of recipe:</label>
          <input type="text" class="form-control" id="recipe_name" autocapitalize="words" required>
        </div>
        <br>
        <div class="form-group">
          <label for="recipe_link">Link:</label>
          <input type="text" class="form-control" id="recipe_link">
        </div>
        <br>
        <div class="form-group">
          <label for="quantity">Ingredients:</label>
          <input type="text" class="form-control" id="recipe_ingredients">
        </div>
        <br>
        <div class="form-group">
          <label for="recipe_instructions">Instructions:</label>
          <input type="text" class="form-control" id="recipe_instructions" autocapitalize="sentences">
        </div>

      </div>

      <!-- submit button -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="rec_submit">Submit Recipe</button>
      </div>
    </div>
  </div>
</div>

<script>
  'use strict';

  function handleResponse(response) {
    console.log(response);
    $('#recipeCarousel').html(response);
  }

  let request = null;

  function refreshGallery() {
    request = $.ajax(
      {
        type: 'GET',
        url: '/{{coop}}/recipes/carousel',
        success: handleResponse,
        failure: function () {
          alert('There was an error while fetching recipes!');
        }
      }
    );
  }

  function addRecipe() {
    $('#rec_submit').unbind('click');
    $('#add-rec-btn').unbind('click');

    // extract input from modal
    let recipe_name = $('#recipe_name').val();
    let recipe_link = $('#recipe_link').val();
    let recipe_ingredients = $('#recipe_ingredients').val();
    let recipe_instructions= $('#recipe_instructions').val();

    // AJAX update database
    var json_event = {
      "recipe_author": "{{user.user_netid}}",
      "recipe_name": recipe_name,
      "recipe_link": recipe_link,
      "recipe_ingredients": recipe_ingredients,
      "recipe_instructions": recipe_instructions,
      "recipe_img": ""
    };
  
    console.log(json_event)

    // AJAX POST request
    $.post("/<coop>/recipes", {
      dataType: 'json',
      contentType: 'application/json',
      event_data: JSON.stringify(json_event),
      // success: refresh gallery
    }).done(function (data) {
        console.log("success")
        refreshGallery();
    }).fail(function (jqXHR, textStatus, errorThrown) {
      alert("Error adding recipe. Try again!")
    });

    // hide modal
    $('#createRecipeModal').modal('hide');

    // reset all fields in modal
    $('#recipe_name').val('');
    $('#recipe_link').val('');
    $('#recipe_ingredients').val('');
    $('#recipe_instructions').val('');

  }

  function setup() {
    refreshGallery();

    $("#createRecipeModal").on("click", "#rec_submit", addRecipe);
  }

  $('document').ready(setup);

</script>

{% endblock %}