<head>
  <title>Co-App Recipes</title>

  <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css” />

  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
</head>

{% extends "templates/base.html" %}
{% block content %}
<div id="overlay">
  <div class="loader"></div>
</div>
<div id="recipe-content" class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-11">
      <!-- Title -->
      <div class="row text-left">
        <div class="text-left">
          <br>
          <h2>Recipes</h2><br>
        </div>
      </div>

      <!-- Toggle Buttons (Meal Type) -->
      <div class="row">
        <div class="col-sm-11">
          <div class="dropdown float-start">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown"
              aria-expanded="false">
              All
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><a class="dropdown-item" href="#" data-value="all">All</a></li>
              <li><a class="dropdown-item" href="#" data-value="breakfast">Breakfast</a></li>
              <li><a class="dropdown-item" href="#" data-value="lunch">Lunch</a></li>
              <li><a class="dropdown-item" href="#" data-value="dinner">Dinner</a></li>
              <li><a class="dropdown-item" href="#" data-value="dessert">Dessert</a></li>
              <li><a class="dropdown-item" href="#" data-value="other">Other</a></li>
            </ul>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-primary float-end" id="add-rec-btn" data-bs-toggle="modal"
              data-bs-target="#createRecipeModal">
              Add Recipe
            </button>
          </div>
        </div>
        <!-- Add Recipe Button (triggers modal) -->
      
      </div>

      <br>

      <!-- Recipe Gallery Carousel -->
      <div class="row">
        <div class="col-sm-11 text-center">
          <!-- Carousel wrapper -->
          <div id="recipeCarousel" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
            <!-- SERVER-SIDE GENERATES RECIPE GALLERY HERE -->
          </div>
          <!-- Carousel wrapper -->
        </div>
      </div>

    </div> <!-- col-sm-11 -->
  </div> <!-- row -->
</div> <!-- container-fluid -->

<!-- Modal -->
<!-- #createRecipeModal -->
<div class="modal fade" id="createRecipeModal" tabindex="-1" role="dialog" aria-labelledby="recModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- header and close button -->
      <div class="modal-header">
        <h4>Add Your Recipe!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- RECIPE FORM -->
      <div class="modal-body">

        <div class="form-group">
          <label for="recipe_name" class="required">Name of recipe:</label>
          <input type="text" class="form-control" id="recipe_name" autocapitalize="words" maxlength="30" required>
        </div>
        <br>
        <div class="form-group">
          <label for="recipe_type" class="required">Recipe Type:</label>
          <select class="form-select" id="recipe_type" aria-label="Select food type" required>
            <option value="0" selected>Choose...</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <label for="recipe_link">Link:</label>
          <input type="url" class="form-control" id="recipe_link">
        </div>
        <br>
        <div class="form-group">
          <label for="recipe_ingredients">Ingredients:</label>
          <textarea type="text" class="form-control" id="recipe_ingredients" rows="3"></textarea>
        </div>
        <br>
        <div class="form-group">
          <label for="recipe_instructions">Instructions:</label>
          <textarea type="text" class="form-control" id="recipe_instructions" rows="3"></textarea>
        </div>
        <br>
        <div>
          <div class="mb-4 d-flex justify-content-center">
            <img src="https://res.cloudinary.com/coapp/image/upload/v1669151022/prjhmx1wqmkxxzoypekd.png"
              id="recipe_img" alt="placeholder" style="width: 300px;" />
            <button id="upload_widget" class="cloudinary-button">Upload Image</button>
          </div>
        </div>
      </div>

      <!-- submit button -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="rec_submit">Submit Recipe</button>
      </div>
    </div>
  </div>
</div>

<script>
  'use strict';

  function handleResponse(response) {
    // console.log(response);
    // Show image container
    $("#overlay").hide();
    $("#recipe-content").show();
    $('#recipeCarousel').html(response);
  }

  let request = null;

  function refreshGallery(meal) {
    request = $.ajax(
      {
        type: 'GET',
        url: '/{{coop}}/recipes/gallery?meal=' + meal,
        beforeSend: function () {
          // Show image container
          $("#overlay").show();
          $("#recipe-content").hide();
        },
        success: handleResponse,
        failure: function () {
          alert('There was an error while fetching recipes!');
        }
      }
    );
  }

  // validate that required modal fields are not empty
  function validateRecipe() {
    let missingFields = [];
    let missing = false;
    if ($('#recipe_name').val() === "") {
      missingFields.push("Recipe Name");
      missing = true;
    }
    if ($('#recipe_type').val() === "0") {
      missingFields.push("Recipe Type");
      missing = true;
      console.log("hi")
    }
    if (missing) {
      alert("The following fields are required: " + missingFields.join(', '))
    }

    const isValidUrl = urlString=> {
	  	var urlPattern = new RegExp('^(https?:\\/\\/)?'+ // validate protocol
	    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // validate domain name
	    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // validate OR ip (v4) address
	    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // validate port and path
	    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // validate query string
	    '(\\#[-a-z\\d_]*)?$','i'); // validate fragment locator
	  return !!urlPattern.test(urlString);
	  }

    if($('#recipe_link').val() != "" && !isValidUrl($('#recipe_link').val())) {
      alert("Please enter a valid https URL for the recipe link.")
      missing = true;
    }

    return missing
  }

  function addRecipe() {
    $('#rec_submit').unbind('click');
    $('#add-rec-btn').unbind('click');

    if (validateRecipe()) {
      return false
    }

    // extract input from modal
    let recipe_name = $('#recipe_name').val();
    let recipe_link = $('#recipe_link').val();
    let recipe_type = $('#recipe_type').val();
    let recipe_ingredients = $('#recipe_ingredients').val();
    let recipe_instructions = $('#recipe_instructions').val();
    let recipe_img = $('#recipe_img').attr('src');

    // AJAX update database
    var json_event = {
      "recipe_author": "{{user.user_netid}}",
      "recipe_type": recipe_type,
      "recipe_name": recipe_name,
      "recipe_link": recipe_link,
      "recipe_ingredients": recipe_ingredients,
      "recipe_instructions": recipe_instructions,
      "recipe_img": recipe_img
    };

    console.log(json_event)

    // AJAX POST request
    $.post("/{{coop}}/recipes", {
      dataType: 'json',
      contentType: 'application/json',
      event_data: JSON.stringify(json_event),
      beforeSend: function () {
        // Show image container
        $("#overlay").show();
        $("#recipe-content").hide();
      },
      // success: refresh gallery
    }).done(function (data) {
      console.log("success")
      refreshGallery("All");
    }).fail(function (jqXHR, textStatus, errorThrown) {
      alert("Error adding recipe. Try again!")
    });

    // hide modal
    $('#createRecipeModal').modal('hide');
  }

  // replace placeholder image with uploaded img
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#placeholder_img').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  // handle event when Remove button clicked
  function removeRecipe(i) {
    let recipe_id = i.parentNode.lastChild.innerHTML;

    let url = "/{{coop}}/recipes/delete?id=" + recipe_id;

    if (confirm("Are you sure you want to remove this recipe?") == true) {
      request = $.ajax(
        {
          type: 'POST',
          url: url,
          beforeSend: function () {
            // Show image container
            $("#overlay").show();
            $("#recipe-content").hide();
          }
        }
      ).done(function (data) {
        refreshGallery("All");
      }).fail(function (jqXHR, textStatus, errorThrown) {
        alert("Error updating recipe gallery. Try again!")
      });
      // refresh list from deleting from db
    }
  }


  function setup() {
    // set up image uploading w/ cloudinary
    const myWidget = cloudinary.createUploadWidget(
      {
        cloudName: 'coapp',
        uploadPreset: 'dyew2nw8',
        multiple: false,  //restrict upload to a single file
        tags: ["{{coop}}"], //add the given tags to the uploaded files
        maxImageFileSize: 2000000,  //restrict file size to less than 2MB
        // minImageWidth: 1080, // scales image up to height of 1080 pixels
        // maxImageWidth: 1080, //Scales the image down to a width of 1080 pixels before uploading
        // minImageHeight: 1080, // scales image up to height of 1080 pixels
        // maxImageHeight: 1080, //Scales the image down to a width of 1080 pixels before uploading
        cropping: false,
        // croppingValidateDimensions: true
      },
      (error, result) => {
        if (!error && result && result.event === "success") {
          document
            .getElementById("recipe_img")
            .setAttribute("src", result.info.secure_url);
        }
      }
    );
    document.getElementById("upload_widget").addEventListener(
      "click",
      function () {
        myWidget.open();
      },
      false
    );

    refreshGallery("All");

    $("#createRecipeModal").on("click", "#rec_submit", addRecipe);
    $(".dropdown-menu li a").click(function () {
      var meal = $(this).text();
      $(this).parents(".dropdown").find('.btn').html(meal + ' <span class="caret"></span>');
      $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      refreshGallery(meal)
    });

    // reset modal data upon close
    $("#createRecipeModal").on("hidden.bs.modal", function () {
      // reset all fields in modal
      $('#recipe_name').val('');
      $('#recipe_link').val('');
      $('#recipe_type').val(0);
      $('#recipe_ingredients').val('');
      $('#recipe_instructions').val('');
      $('#recipe_img').attr('src', 'https://res.cloudinary.com/coapp/image/upload/v1669151022/prjhmx1wqmkxxzoypekd.png');
    });

  }

  $('document').ready(setup);

</script>

{% endblock %}