<head>
  <title>Co-App Roster</title>
</head>

{% extends "templates/base.html" %}
{% block content %}
<br>
<h2>Members</h2><br>
<div class="table-responsive">
    <table class="table">
        <thead class="table-light">
            <tr>
                <th scope="col">Member Name</th>
                <th scope="col">Dietary Restrictions</th>
                <th scope="col">Cook Shift</th>
                <th scope="col">Chore Shift</th>
                <th scope="col">Chore Type</th>
            </tr>
        </thead>
        <tbody>
              {% for member in members: %}
                <tr>
                    <th scope="row">{{member.user_name}}</th>
                    <td>{{member.user_allergies}}</td>
                    <td>{{member.user_cookday}}</td>
                    <td>{{member.user_choreday}}</td>
                    <td>{{member.user_choretype}}</td>
                </tr>
              {% endfor %}
        </tbody>
      </table>
      
</div>
<div>
  <a href="/{{coop}}/profile" role="button" class="btn btn-primary">
    Edit My Info
  </a>
</div>
<div class="col-md-12 text-right">
  <a href="/{{coop}}/edit_roster" role="button" class="btn btn-primary">
    Edit/Update Roster
  </a>
</div>


{% endblock %}