<head>
  <title>Co-App Roster</title>
  <!-- <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" -->
    <!-- integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" -->
    <!-- crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
</head>

{% extends "templates/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-11">
      <!-- Title Row - "Roster" -->
      <div class="row">
        <div class="text-left">
          <br>
          <h2>Roster</h2><br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11">
          <div class="container border border-dark rounded" style="background-color: #07a29930;">
            <div class="table-responsive" id="roster">
              <!-- SERVER-SIDE GENERATES ROSTER TABLE HERE -->
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Edit Button -- ONLY VISIBLE TO ADMIN -->
      {% if user.user_admin == True %}
      <div class="row">
        <div class="col-sm-11">
          <a href="/{{coop}}/roster/edit" role="button" class="btn btn-primary float-end">
            Edit Roster
          </a>
        </div>
      </div>

    </div> <!-- col-sm-11 -->
  </div> <!-- row -->
</div> <!-- container-fluid -->
{% endif %}

<script>
  'use strict';

  
  // function deleteRow(r) {
  //   // var i = r.parentNode.parentNode.rowIndex;
  //   let user_netid = r.parentNode.parentNode.lastChild.innerHTML;
  //   let url = "/{{coop}}/roster/delete?id=" + user_netid;
  //   // document.getElementById("myTable").deleteRow(i);
  //   request = $.ajax(
  //     {
  //       type: 'POST',
  //       url: url, 
  //     }
  //   ).done(function (data) 
  //   { 
  //     refreshRoster()
  //   }).fail(function (jqXHR, textStatus, errorThrown) { 
  //     alert("Error updating roster. Try again!")
  //   });
  // }


  function handleResponse(response) 
  {
    $('#roster').html(response);
  }

  let request = null;

  // refresh page with get request 
  function refreshRoster() {
    request = $.ajax(
        {
            type:'GET',
            url: '/{{coop}}/roster/members',
            success: handleResponse,
            failure: function () {
              alert('there was an error while fetching members!');
            }
        }
    );
  }

  function setup() 
  {
    refreshRoster();
  }

  $('document').ready(setup);

</script>

{% endblock %}