<head>
  <title>Co-App Roster</title>
  <script type='text/javascript' src="{{ url_for('static',filename='jquery-3.6.1.min.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>

{% extends "templates/base.html" %}
{% block content %}
<div class="container-fluid">
  <!-- Title Row - "Roster" -->
<div class="row">
  <div class="col-sm-4 text-center">
    <br>
    <h2>Roster</h2><br>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="container border border-dark rounded" style="background-color: #07a29930;">
    <div class="table-responsive" id="shoppingList">
      <!-- <table class="table" id="myTable" style="margin: 0;">
          <thead id="theader">
              <tr>
                  <th scope="col">Member Name</th>
                  <th scope="col">Dietary Restrictions</th>
                  <th scope="col">Cook Shift</th>
                  <th scope="col">Chore Shift</th>
                  <th scope="col">Chore Type</th>
                </tr>
          </thead>
          <tbody id="tbody">
            <div id="roster">

            </div> -->
                <!-- {% for member in members: %}
                  <tr>
                      <th scope="row">{{member.user_name}}</th>
                      <td>{{member.user_allergies}}</td>
                      <td>{{member.user_cookday}}</td>
                      <td>{{member.user_choreday}}</td>
                      <td>{{member.user_choretype}}</td>
                    </tr>
                {% endfor %} -->
          <!-- </tbody>
        </table>  -->
    </div>
  </div>
</div>
      
</div>
<div>
  <a href="/{{coop}}/profile" role="button" class="btn btn-primary">
    Edit My Info
  </a>
</div>
<div class="col-md-12 text-right">
  <a href="/{{coop}}/edit_roster" role="button" class="btn btn-primary">
    Edit/Update Roster
  </a>
</div>


{% endblock %}