
<div class="form-group">
    <label for="item_type">Item Type:</label><br>
    <select class="form-select" id="item_type" aria-label="Select item type">
        <option selected>Choose...</option>
        <option value="Food">Food</option>
        <option value="Equipment">Equipment</option>
    </select>
</div>

<!-- Only if food, show food type option -->
<div class="form-group" id="food_type_visible" style="display: none">
    <label for="foodtype">Food Type:</label>
    <input type="text" class="form-control" id="food_type">
</div>
<div class="form-group">
    <label for="item">Requested Item:</label>
    <input type="text" class="form-control" id="item_name">
</div>
<div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="text" class="form-control" id="item_quantity">
</div>
<div class="form-group">
    <label for="comments">Reason</label>
    <input type="text" class="form-control" id="item_reason">
</div>
<div class="form-group">
    <label for="alt_item">Alternate Request</label>
    <input type="text" class="form-control" id="alt_request">
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="for_shift" name="for_shift">
    <label class="form-check-label" for="for_shift">For Shift?</label>
</div>